# Linear Regression - Group 5
## Data cleaning of the excel file

In [12]:
import pandas as pd
dataset = pd.read_csv('Salary_Data.csv')

In [13]:
dataset.head()

    Age  Gender  Years of Experience    Salary
0  32.0    Male                  5.0   90000.0
1  28.0  Female                  3.0   65000.0
2  45.0    Male                 15.0  150000.0
3  36.0  Female                  7.0   60000.0
4  52.0    Male                 20.0  200000.0

In [14]:
X = dataset.iloc[:,:-1].values
X

array([[32.0, 'Male', 5.0],
       [28.0, 'Female', 3.0],
       [45.0, 'Male', 15.0],
       ...,
       [30.0, 'Female', 4.0],
       [46.0, 'Male', 14.0],
       [26.0, 'Female', 1.0]], dtype=object)

In [15]:
y = dataset.iloc[: , -1].values
y

array([ 90000.,  65000., 150000., ...,  55000., 140000.,  35000.])

### Check for missing values in each Rows and column.

In [16]:
#columns
missing_column = dataset.isnull().sum()
missing_column

Age                    2
Gender                 2
Years of Experience    3
Salary                 5
dtype: int64

In [6]:
#rows
missing_values = dataset[dataset.isnull().any(axis=1)]
missing_values

       Age  Gender  Years of Experience  Salary
172    NaN     NaN                  NaN     NaN
260    NaN     NaN                  NaN     NaN
3136  31.0    Male                  8.0     NaN
5247  26.0  Female                  NaN     NaN
6455  36.0    Male                  6.0     NaN

### Data Cleaning

#### Step 1: Handle missing values

In [17]:
# Fill missing values in the columns: Age, Gender, Years of Experience, Salary
dataset['Age'].fillna(dataset['Age'].mode()[0], inplace=True)
dataset['Gender'].fillna(dataset['Gender'].mode()[0], inplace=True)
dataset['Years of Experience'].fillna(dataset['Years of Experience'].mode()[0], inplace=True)
dataset['Salary'].fillna(dataset['Salary'].mode()[0], inplace=True)

C:\Users\asus\AppData\Local\Temp\ipykernel_21512\3871581868.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Age'].fillna(dataset['Age'].mode()[0], inplace=True)
C:\Users\asus\AppData\Local\Temp\ipykernel_21512\3871581868.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Gender'].fillna(dataset['Gender'].mode()[0], inplace=True)
C:\Users\asus\AppData\Local\Temp\ipykernel_21512\3871581868.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Years of Experience'].fillna(dataset['Years of Experience'].mode()[0], inplace=True)
C:\Users\asus\AppData\Local\Temp\ipykernel_21512\3871581868.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Salary'].fillna(dataset['Salary'].mode()[0], inplace=True)

#### Step 2: Converting worded data to numeric data.

In [18]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [19]:

dataset['Gender'] = label_encoder.fit_transform(dataset['Gender'])

#### Step 3: Save the cleaned data

In [20]:
# Specify the name of the file when saving it (e.g., 'Salary_Data_cleaned.csv').
# This file will be saved and can be found in the specified folder,
# such as Downloads, Documents, or any custom directory.

cleaned_file_path = dataset.to_csv('Salary_Data_cleaned.csv', index=False)