# Linear Regression - Group 5
## Data cleaning of the excel file

In [1]:
import pandas as pd
#variable and this is a function for uploading the dataset
dataset = pd.read_csv('Salary_Data (6).csv')

In [2]:
dataset.head()
#display 5 rows of dataset

#6,705 rows
# 4 columns: Age, Gender, Years of Experience, Salary,Education Level, Job Title
# independent variables: Age, Gender, Year of experience,Education Level, Job Title
# dependent variable: Salary

   Education Level  Job Title.1  Years of Experience    Salary
0                2            7                  5.0   90000.0
1                3            6                  3.0   65000.0
2                4            9                 15.0  150000.0
3                2            6                  7.0   60000.0
4                3           10                 20.0  200000.0

In [3]:
X = dataset.iloc[:,:-1].values
X

array([[ 2.,  7.,  5.],
       [ 3.,  6.,  3.],
       [ 4.,  9., 15.],
       ...,
       [ 2.,  6.,  4.],
       [ 3.,  8., 14.],
       [ 1.,  5.,  1.]])

In [4]:
y = dataset.iloc[: , -1].values
y

array([ 90000.,  65000., 150000., ...,  55000., 140000.,  35000.])

### Check for missing values in each Rows and column.

In [5]:
#columns
# Calculate the total number of missing (null) values in each column of the dataset
missing_column = dataset.isnull().sum()
missing_column

Education Level        0
Job Title.1            0
Years of Experience    3
Salary                 5
dtype: int64

In [6]:
#rows
# Select the rows in the dataset that contain any missing (null) value
missing_values = dataset[dataset.isnull().any(axis=1)]
missing_values

      Education Level  Job Title.1  Years of Experience  Salary
172                 2            9                  NaN     NaN
260                 2            9                  NaN     NaN
3136                3            9                  8.0     NaN
5247                2            9                  NaN     NaN
6455                2            9                  6.0     NaN

### Data Cleaning

#### Step 1: Handle missing values

In [7]:
# Fill missing values in the columns: Age, Gender, Years of Experience, Salary
dataset['Education Level'].fillna(dataset['Education Level'].mode()[0], inplace=True)
dataset['Job Title.1'].fillna(dataset['Job Title.1'].mode()[0], inplace=True)
dataset['Years of Experience'].fillna(dataset['Years of Experience'].mode()[0], inplace=True)
dataset['Salary'].fillna(dataset['Salary'].mode()[0], inplace=True)

C:\Users\asus\AppData\Local\Temp\ipykernel_3240\386630331.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Education Level'].fillna(dataset['Education Level'].mode()[0], inplace=True)
C:\Users\asus\AppData\Local\Temp\ipykernel_3240\386630331.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Job Title.1'].fillna(dataset['Job Title.1'].mode()[0], inplace=True)
C:\Users\asus\AppData\Local\Temp\ipykernel_3240\386630331.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Years of Experience'].fillna(dataset['Years of Experience'].mode()[0], inplace=True)
C:\Users\asus\AppData\Local\Temp\ipykernel_3240\386630331.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Salary'].fillna(dataset['Salary'].mode()[0], inplace=True)

In [8]:
# Specify the name of the file when saving it (e.g., 'Salary_Data_cleaned.csv').
# This file will be saved and can be found in the specified folder,
# such as Downloads, Documents, or any custom directory.

cleaned_file_path = dataset.to_csv('Salary_Data_cleaned123.csv', index=False)